@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
body {
    
    font-family: 'Kolker Brush', cursive;
    text-align: center;
    background: linear-gradient rgb(252, 158, 35);
    font-size: 40px;
    margin: 0%;
}
.capa{
    width: 65%;
}
.beneficios {
    text-align: left;
    background-color: rgb(255, 142, 36);
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
li{
padding: 25px;
font-size: 20px;
}

.foto-beneficios {
width:40% ;
}
header {
    padding: 20px 0;
}
.caixa {
    display: inline;
    position: relative;
    width: 800px;
    margin: 0 auto;
}
h3 {
    text-align: left;   

    display: inline-block;    

    vertical-align: top;
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    vertical-align: top;;
    top: 90px;
    right: 65px;
}
nav a {
    font-size: 20px;
    padding-left: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
    color: #000000;
    transition: 0.5s;

}