@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
body {
    
    font-family: 'Kolker Brush', cursive;

    
    background-color: rgb(245, 138, 77);
}
.capa{
    width: 65%;
}
.beneficios {
    text-align: left;
    background-color: rgb(245, 138, 77);
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
li{
padding: 25px;
font-size: 20px;
}

.foto-beneficios {
width:40% ;
}
    
